/* ========================================*/
/* ============ CSS PRINCIPAL  ============*/
/* ========================================*/

*, ::before, ::after{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.btn {
    background: linear-gradient(120deg, #6a00f4, #16d9e3);
    border: none;
    border-radius: 30px;
    padding: 14px 25px;
    color: white;
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}


footer{
    background: linear-gradient(120deg, #6a00f4, #16d9e3);
    text-align: center;
    padding: 30px 5px;
    margin-top: 40px;
    bottom: 0;
    width: 100%;
    color: #ffffff;
}

.link-footer{
    color: #FFFFFF;
}

.link-footer:hover{
    color: #000000;
}

/* ========================================*/
/* ========= FIN CSS PRINCIPAL  ===========*/
/* ========================================*/

/* ========================================*/
/* ============ Hamburger Menu ============*/
/* ========================================*/
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.hamburger span {
    height: 3px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 5px;
}

/* Styles pour le menu nav */
.header-nav {
    display: flex;
}

.header-nav ul {
    display: flex;
}

.header-nav ul li {
    padding: 0 20px;
}


@media (max-width: 768px) {
    .test{
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
    }
    .header-nav {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .header-nav.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        background: rgba(0, 0, 0, 0.9);
        z-index: 10;
    }

    .header-nav.active ul {
        flex-direction: column;
        padding: 10px 0;
    }

    .header-nav.active ul li {
        padding: 10px 0; /* Padding des items */
        text-align: center; /* Centré */
    }

    .header-btn {
        display: none; /* Masqué sur mobile par défaut */
    }

    .header-nav.active .header-btn {
        display: block; /* Affiché quand le menu est actif */
        padding: 10px; /* Padding pour le bouton de contact */
    }
}

/* ========================================*/
/* ============ Fin Hamburger Menu ========*/
/* ========================================*/


/* ========================================*/
/* ============ PAGE D'ACCUEIL ============*/
/* ========================================*/
.main-container-index {
    position: relative;
    /*padding: 7px;*/
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.logo-center{
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 340px;
    background-color: #000000;
    border-radius: 50%;
    border: solid 6px #ffffff;
    z-index: 3;
}

.logo-center > img{
    width: 230px;
    height: 245px;
    object-fit: contain;
}

.row-top{
    display: grid;
    grid-template-columns: 50% 50%;
    z-index: 2;
}

.row-bottom{
    display: grid;
    grid-template-columns: 25% 50% 25% ;
    z-index: 2;
}

.link{
    position: relative;
    text-align: center;
    padding: 3px;
    overflow: hidden;
}

.link-img{
    /*width: 720px;*/
    height: 50vh;
    transition: transform 0.3s ease;
}

.link:hover img {
    transform: scale(1.02);
}

.img-bottom{
    height: 480px;
}

.link-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* ========================================*/
/* ========== FIN PAGE D'ACCUEIL ==========*/
/* ========================================*/


/* ========================================*/
/* =============== PAGE ADN ===============*/
/* ========================================*/
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 55px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.background-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 495px;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.url-adn{
    background-image: url("../images/image-background-adn.jpg");
}

.url-veille{
    background-image: url("../images/veille.jpg");
}

.url-how{
    background-image: url("../images/img-background-how.jpg");
}

.url-accompagnement{
    background-image: url("../images/accompagnements.jpg");
}

.url-contact{
    background-image: url("../images/img-background-contact-page.jpg");
}

.header-logo{
    width: 100px;
    top: 0;
}

.header-nav ul{
    display: flex;
}

.header-nav ul li {
    padding: 0 20px;
}

.header-nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
}

/*
.header-nav ul li a:hover {
    color: #d47a1c;
}
*/

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.hero-text {
    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 3em;
    margin-bottom: 40px;
}

.container{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 90px;
}

.container-titre h2{
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    background: linear-gradient(90deg, #6a00f4, #16d9e3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
    margin-top: 40px;
}

.container-adn{
    text-align: center;
}

.container p {
    font-size: 1.2em;
    line-height: 1.2;
}


/* ========================================*/
/* ============= FIN PAGE ADN =============*/
/* ========================================*/


/* ========================================*/
/* =============== PAGE ACC ===============*/
/* ========================================*/
.container-cards {
    display: grid;
    max-width: 1200px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: start;
    justify-content: center;
}

.card {
    max-width: 550px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
    margin-bottom: 25px;
}

.card-header {
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #ffffff;
    font-size: 1.5em;
    background: linear-gradient(10deg, #6a00f4, #16d9e3);
    padding: 15px 10px;
}

.card-content {
    padding: 10px;
}

.card-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

.card-list li:hover {
    background-color: #e0e0e0;
}

.hover-text {
    display: none;
    padding: 5px;
    z-index: 1;
}

.card:hover .hover-text {
    display: block;
}

/* ========================================*/
/* ============= FIN PAGE ACC =============*/
/* ========================================*/

/* ========================================*/
/* =============== PAGE how ===============*/
/* ========================================*/
.container-box{
    position: relative;
}

.line{
    height: 1000px;
    width: 8px;
    margin: 0 auto;
    background: linear-gradient(10deg, #6a00f4, #16d9e3);
    border-radius: 20px;
}

.rond{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(10deg, #6a00f4, #16d9e3);
    left: 50%;
    transform: translate(-50%);
}

.box{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 400px;
    height: auto;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
}

.r1{top: 60px;}
.r2{top: 260px;}
.r3{top: 440px;}
.r4{top: 600px;}
.r5{top: 700px;}
.r6{top: 820px;}

.b1{top: 60px; left: calc(50% - 270px)}
.b2{top: 260px; left: calc(50% + 270px)}
.b3{top: 440px; left: calc(50% - 270px)}
.b4{top: 600px; left: calc(50% + 270px)}
.b5{top: 700px; left: calc(50% - 270px)}
.b6{top: 820px; left: calc(50% + 270px)}


/* ========================================*/
/* ============= FIN PAGE how =============*/
/* ========================================*/


/* ========================================*/
/* ============= PAGE CONTACT =============*/
/* ========================================*/
.contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    max-width: 800px;
}

.contact-box {
    background-color: #ffffff;
    border: 2px solid transparent;
    border-image: linear-gradient(10deg, #6a00f4, #16d9e3) 1;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contact-box h2 {
    margin-top: 0;
    color: #6a00f4;
}

.contact-box p {
    margin: 10px 0;
    color: #333;
}

.contact-box ul {
    padding-left: 20px;
}

.contact-box ul li {
    margin: 5px 0;
    color: #333;
}

/* ========================================*/
/* ============ PAGE CONTACT ==============*/
/* ========================================*/


/* ========================================*/
/* ============ Responsive ================*/
/* ========================================*/

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .link-text{
        font-size: 1.8em;
    }

    .btn{
        font-size: 1em;
    }

    .header-nav ul li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1em;
        padding: 0 10px;
    }

    .header-nav ul li {
        font-size: 1em;
        padding: 10px 0;
    }

    .hero-text h1 {
        font-size: 3em;
    }

    .hero-text p {
        font-size: 2.5em;
    }

    .contact-container {
        flex-direction: column;
        padding: 20px;
    }

    .contact-box {
        width: 90%;
    }

    .logo-center > img {
        width: 150px;
        height: 150px;
    }

    .logo-center {
        width: 220px;
        height: 220px;
    }

    .box{
        width: 40%;
    }

}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    .background-img {
        height: 440px;
    }

    .container-cards {
        grid-template-columns: 1fr;
    }

    .container-titre h2 {
        font-size: 2.5em;
    }

    .card-header {
        font-size: 1.3em;
    }

    .card-list li {
        font-size: 1em;
    }

    .link-text{
        font-size: 1.5em;
    }

    .header-nav ul {
        flex-direction: column;
    }

    .header-nav ul li {
        padding: 10px 0;
    }

    .hero-text h1 {
        font-size: 2.5em;
    }

    .hero-text p {
        font-size: 2em;
    }

    .contact-container {
        flex-direction: column;
        padding: 20px;
    }

    .contact-box {
        width: 90%;
    }

    /* Page comment ça marche  */
    .line{
        height: 1100px;
        width: 6px;
        margin-left: 80%;
    }

    .rond{
        width: 30px;
        height: 30px;
        left: 80.5%;
    }

    .box{
        width: 60%;
    }

    .r1{top: 60px;}
    .r2{top: 330px;}
    .r3{top: 480px;}
    .r4{top: 620px;}
    .r5{top: 720px;}
    .r6{top: 860px;}

    .b1{top: 60px; left: 40%}
    .b2{top: 330px; left: 40%}
    .b3{top: 480px; left: 40%}
    .b4{top: 620px; left: 40%}
    .b5{top: 720px; left: 40%}
    .b6{top: 860px; left: 40%}
}

@media (max-width: 480px) {
    .container-titre h2 {
        font-size: 2em;
    }

    .logo-center{
        width: 230px;
        height: 230px;
    }

    .logo-center > img{
        width: 150px;
    }

    .background-img{
        height: 385px;
    }

    .link-text{
        font-size: 1.3em;
    }

    .card-header {
        font-size: 1.2em;
    }

    .card-list li {
        font-size: 0.9em;
    }

    .hero-text h1 {
        font-size: 2em;
    }

    .hero-text p {
        font-size: 1.5em;
    }

    .header {
        flex-direction: column;
        align-items: center;
    }

    .header-logo {
        width: 80px;
    }

    .header-nav ul {
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .header-nav ul li {
        padding: 5px 0;
        font-size: 0.9em;
    }

    .contact-container {
        padding: 10px;
    }

    .contact-box {
        width: 100%;
        padding: 15px;
    }

    /* Page comment ça marche  */
    .line{
        height: 1100px;
        width: 6px;
        margin-left: 95%;
    }

    .rond{
        width: 30px;
        height: 30px;
        left: 95.5%;
    }

    .box{
        width: 80%;
    }

    .r1{top: 60px;}
    .r2{top: 330px;}
    .r3{top: 480px;}
    .r4{top: 620px;}
    .r5{top: 720px;}
    .r6{top: 860px;}

    .b1{top: 60px; left: 40%}
    .b2{top: 330px; left: 40%}
    .b3{top: 480px; left: 40%}
    .b4{top: 620px; left: 40%}
    .b5{top: 720px; left: 40%}
    .b6{top: 860px; left: 40%}
}

/*@media (min-width: 1440px) {
    .background-img{
        height: 65vh;
    }
}*/



/* ========================================*/
/* ============ Fin Responsive ============*/
/* ========================================*/

/* ========================================*/
/* ============== CSS ERROR ===============*/
/* ========================================*/

.error-container {
    background: lightgray;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

h5 {
    font-weight: bold;
    background: linear-gradient(90deg, #6a00f4, #16d9e3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6em;
    margin: 0;
}

h6 {
    font-size: 2em;
    margin: 10px 0;
}



/* ========================================*/
/* =========== FIN CSS ERROR  =============*/
/* ========================================*/


/* ========================================*/
/* ============ CSS Mentions  =============*/
/* ========================================*/

.container-mentions {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container-mentions > h3 {
    color: #333; /* Couleur des sous-titres */
    margin-top: 20px;
}

.container.container-mentions > p {
    line-height: 1.5;
    color: #555; /* Couleur du texte */
}

/* ========================================*/
/* ========== FIN CSS Mentions  ===========*/
/* ========================================*/


