/* ========================================*/
/* ============ CSS PRINCIPAL  ============*/
/* ========================================*/

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.btn {
    background: linear-gradient(120deg, #6a00f4, #16d9e3);
    border: none;
    border-radius: 30px;
    padding: 14px 25px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}


footer{
    background: linear-gradient(120deg, #6a00f4, #16d9e3);
    text-align: center;
    padding: 30px 5px;
    margin-top: 40px;
    bottom: 0;
    width: 100%;
    color: #ffffff;
}

/* ========================================*/
/* ========= FIN CSS PRINCIPAL  ===========*/
/* ========================================*/

/* ========================================*/
/* ============ PAGE D'ACCUEIL ============*/
/* ========================================*/
.main-container-index {
    position: relative;
    /*padding: 7px;*/
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

.logo-center{
    position: absolute;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    width: 340px;
    height: 340px;
    background-color: #000000;
    border-radius: 50%;
    border: solid 6px #ffffff;
    z-index: 3;
}

.logo-center > img{
    width: 230px;
    height: 245px;
    object-fit: contain;
}

.row-top{
    display: grid;
    grid-template-columns: 50% 50%;
    z-index: 2;
}

.row-bottom{
    display: grid;
    grid-template-columns: 25% 50% 25% ;
    z-index: 2;
}

.link{
    position: relative;
    text-align: center;
    padding: 3px;
    overflow: hidden;
}

.link-img{
    /*width: 720px;*/
    height: 50vh;
    transition: transform 0.3s ease;
}

.link:hover img {
    transform: scale(1.02);
}

.img-bottom{
    height: 480px;
}

.link-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 5vh;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* ========================================*/
/* ========== FIN PAGE D'ACCUEIL ==========*/
/* ========================================*/


/* ========================================*/
/* =============== PAGE ADN ===============*/
/* ========================================*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 55px;
    width: 100%;
    height: 11vh;
    background-color: rgba(0, 0, 0, 0.4);

}

.background-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55vh;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.url-adn{
    background-image: url("../images/adn.jpg");
}

.url-veille{
    background-image: url("../images/veille.jpg");
}

.url-how{
    background-image: url("../images/how.jpg");
}

.url-accompagnement{
    background-image: url("../images/adn.jpg");
}

.header-logo{
    width: 100px;
    top: 0;
}

.header-nav ul{
    display: flex;
}

.header-nav ul li {
    padding: 0 20px;
}

.header-nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.2em;
}

/*
.header-nav ul li a:hover {
    color: #d47a1c;
}
*/

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.hero-text {
    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 4em;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 3em;
    margin-bottom: 40px;
}

.container{
    width: 1440px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    margin-top: 90px;
}

.container-titre h2{
    font-size: 3em;
    font-weight: bold;
    background: linear-gradient(90deg, #6a00f4, #16d9e3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 40px;
}

.container p {
    font-size: 1.2em;
    line-height: 1.2;
}


/* ========================================*/
/* ============= FIN PAGE ADN =============*/
/* ========================================*/


/* ========================================*/
/* =============== PAGE ACC ===============*/
/* ========================================*/
.container-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

.card-header{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #ffffff;
    font-size: 1.5em;
    background: linear-gradient(120deg, #6a00f4, #16d9e3);
    padding: 15px 10px;
}

.card-content{
    padding: 10px;
}

/* ========================================*/
/* ============= FIN PAGE ACC =============*/
/* ========================================*/